<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link href="/assets/main.css" rel="stylesheet" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div
      id="content"
      class="text-center m-auto max-w-lg flex items-center justify-center h-screen"
    >
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
